* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0rem;

  --background-main: #111111;
  --background-secondary: #1e1e1e;
  --color-main: #ffffff;
  --color-secondary: #ababab;
  --color-secondary-active: #eeeeee;
  --color-accent: #ec4899;
  --color-accent-active: #cc2c7c;
}
body {
  height: 100vh;
  background-color: var(--background-main);
  color: var(--color-main);
}

.page {
  height: 100%;
}
.main {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(50%, 70%) auto;
}
.wrapper {
  height: 100%;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr min-content;
}
.dropzone-container {
  justify-self: center;
  width: 70%;
}
.dropzone {
}
.input-link {
  padding: 0.5em;
  color: inherit;
  text-align: center;
  font-size: 2rem;
  border: 4px dotted var(--color-secondary);
  border-radius: 50px;
  background-color: var(--background-main);
  outline: none;
  width: 100%;
}
.input-link::placeholder {
  color: var(--color-secondary);
  text-align: center;
  font-size: 2rem;
}
.input-link:hover::-webkit-input-placeholder,
.input-link:focus::-webkit-input-placeholder {
  color: var(--color-secondary-active);
}
.input-link:hover,
.input-link:focus {
  border-color: var(--color-secondary-active);
}
.toolbar-container {
  justify-self: center;
}
.toolbar {
  background-color: var(--background-secondary);
  padding: 0.3em 0;
  border-radius: 15px;
}
.toolbar__list {
  display: flex;
  flex-direction: column;
}
.toolbar-list {
  padding-left: 0;
  margin: 0;
}
.toolbar-list__item {
}
.toolbar-item {
  border-bottom: 1px solid var(--color-secondary);
  list-style: none;
}
.toolbar-item:last-child {
  border-bottom: none;
}
.toolbar-item__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.3em 0.5em;
  text-align: center;
  color: inherit;
  background-color: inherit;
  border-radius: 10px;
}
.toolbar-item__content {
  padding: 1em 1em;
  display: flex;
  column-gap: 2em;
  justify-content: space-between;
  align-items: center;
}
.toolbar__actions {
  padding: 1em 1em;
}
.toolbar-item__name {
}
.toolbar-item__content--big {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  text-align: center;
}
.color-pallette {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2px;
  border-radius: 15px;
  overflow: hidden;
}
.color-pallette__colorpicker {
  aspect-ratio: 1/1;
}
.colorpicker {
  cursor: pointer;
  transition: transform 0.2s;
}
.colorpicker:hover {
  transform: scale(0.95, 0.95);
}
.colorpicker:active {
  transform: scale(0.85, 0.85);
  transition: 0.1s;
}
.colorpicker--first {
  background-image: linear-gradient(
    to bottom right,
    #fd6585,
    rgb(255, 211, 165)
  );
}
.colorpicker--second {
  background-image: linear-gradient(to bottom right, #00dbde, #fc00ff);
}
.colorpicker--third {
  background-image: linear-gradient(to bottom, #c084fc, #6366f1);
}
.colorpicker--fourth {
  background-image: linear-gradient(to bottom, #ed6ea0, #ec8c69);
}
.colorpicker--fifth {
  background-image: linear-gradient(to bottom right, #f9a8d4, #f472b6, #f87171);
}
.colorpicker--sixth {
  background-image: linear-gradient(to bottom right, #84fab0, #8fd3f4);
}
.toolbar__buttons-group {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}
.btn {
  border: none;
  color: inherit;
  background-color: var(--color-accent);
  padding: 0.5em 1.2em;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.1s;
}
.btn:hover {
  background-color: var(--color-accent-active);
}
.btn:active {
  transform: scale(0.95, 0.95);
}
.btn--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.2em;
}
.material-symbols-rounded {
  margin-bottom: 2px;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.footer__item {
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
option {
  color: #000000;
}
.icon {
  width: 3rem;
  height: 3rem;
}
.svg path {
  color: var(--color-secondary);
}

.slider {
  -webkit-appearance: none;
  margin: 10px 0;
  background-color: transparent;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-runnable-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--color-secondary);
  border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
.slider:focus::-webkit-slider-runnable-track {
  background: var(--color-secondary);
}
.slider::-moz-range-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: var(--color-secondary);
  border-radius: 5px;
}
.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
}
.slider::-ms-track {
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider::-ms-fill-lower {
  background: var(--color-secondary);
  border-radius: 10px;
}
.slider::-ms-fill-upper {
  background: var(--color-secondary);
  border-radius: 10px;
}
.slider::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: var(--color-accent);
  cursor: pointer;
}
.slider:focus::-ms-fill-lower {
  background: var(--color-secondary);
}
.slider:focus::-ms-fill-upper {
  background: var(--color-secondary);
}
